@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.image-gallery {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 55%;
}

.image-gallery-left-nav::before {
  margin-left: -100px;
}

.image-gallery-right-nav::before {
  margin-right: -100px;
}
