.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.artist-name {
  font-family: "Gill Sans";
  font-size: 3.1em;
  color: #FAE5FF;
  text-shadow: -5px 2px 0px #000, -8px -1px 0px #00DDDD;
  font-weight: 350;
}